body {
  background-image: url("maroon-paper-texture.jpg");
  overflow-y: hidden;
}

* {
  margin: 0px 2%;
  padding: 0px;
  font-family: myFirstFont;
}

@font-face {
  font-family: myFirstFont;
  src: url(Sans.ttf);
}

#eastern {
  position: absolute;
  bottom: -300px;
  right: 70px;
  font-size: 18px;
  color: #ffb81c;
}

#schedule {
  font-size: 50px;
  text-align: center;
  color: #ffb81c;
  margin: 0 auto;
}

.logoSize {
  margin: 100 auto;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  position: relative;
  top: -50px;
}
.logoList {
  list-style-type: none;
}
#times {
  text-align: right;
  position: relative;
  top: -180px;
  color: #ffb81c;
}

#team {
  position: relative;
  text-align: right;
  display: none;
}

#vs {
  text-align: center;
  position: relative;
  top: -100px;
  color: white;
}
#yeer {
  text-align: right;
  position: relative;
  top: 10px;
  color: white;
}

@media screen and (min-width: 415px) {
  * {
    margin: 0px;
    padding: 0px;
    font-family: myFirstFont;
  }
  #logo {
    display: flex;
    align-items: center;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: ;
  }
  #allContent {
    position: relative;
    top: 70px;
  }
  #containerDiv {
    position: relative;
    top: -20px;
  }
  #dates {
    display: flex;
    align-items: center;
    /* Default */
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    margin: 90px 40px;
    font-size: 45px;
    position: relative;
    left: 20px;
  }
  #dateDiv {
    position: relative;
    top: -90px;
  }
  #eastern {
    position: absolute;
    bottom: -5px;
    right: 70px;
    font-size: 18px;
    color: #ffb81c;
  }
  #schedule {
    font-size: 110px;
    color: #ffb81c;
  }
  #logo {
    display: flex;
    align-items: center;
    /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: ;
  }
  .logoList {
    display: block;
    flex: 0 1 auto;
    /* Default */
    list-style-type: none;
    align-items: center;
  }
  .logoSize {
    width: 200px;
    height: 200px;
    padding: 40px;
    margin: 40px;
    position: relative;
    top: -50px;
  }
  #schedule {
    text-align: center;
    font-size: 130px;
  }
  #team {
    text-align: center;
    position: relative;
    top: -80px;
    font-size: 45px;
    color: #ffb81c;
  }
  #times {
    text-align: center;
    position: relative;
    top: -60px;
    color: white;
  }
  #vs {
    text-align: center;
    position: relative;
    top: -100px;
    color: white;
  }
  #yeer {
    text-align: center;
    position: relative;
    top: 10px;
    color: white;
  }
}
